%legend.center ¿Olvidaste tu contraseña?

.col-md-4.col-md-offset-4
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = general_error_message(resource)

    .well
      %fielset.form-group
        .col-md-12
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", class: field_with_validation(resource, :email)
          = field_error_message(resource, :email)
        .col-md-12
          %br
          = f.submit "Enviar instrucciones de recuperación", class: 'btn btn-success'
      = render "devise/shared/links"
